body {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #94e2d5;
}

#container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    user-select: none;
    touch-action: none;
}

#pixels {
    display: flex;
    width: 400px;
    border: 1px solid #000000;
    background-color: #b4befe;
    flex-wrap: wrap;
}

.pixel {
    width: 25px;
    height: 25px;
    border: none;
}

.painted {
    width: 25px;
    height: 25px;
    border: none;
    background-color: rgb(243, 139, 168);
}