body {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    margin: 0;
    background-color: #1e1e2e;
    color: #94e2d5;
}

a {
    text-decoration: none;
    color: #b4befe;
}

header {
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

p#name {
    width: 320px;
    margin: 0;
}

#helper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 34px;
}

#questionmark {
    cursor: default;
    font-size: 14px;
    width: 17px;
    height: 17px;   
}

#back-color {
    width: 15px;
    height: 15px;
    border: 1px solid #9399b2;
    border-radius: 3px;
}

#front-color {
    margin-top: 1px;
    margin-left: 1px;
    width: 9px;
    height: 9px;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 3px;
}

#container, #colors-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    user-select: none;
}

#pixels {
    display: flex;
    min-width: 384px;
    width: 384px;
    border: 2px solid #9399b2;
    border-radius: 3px;
    background-color: #b4befe;
    flex-wrap: wrap;
    touch-action: none;
}

.pixel {
    width: 24px;
    height: 24px;
    border: none;
}

#colors {
    display: flex;    
    min-width: 384px;
    width: 384px;
    border: 2px solid #9399b2;
    border-radius: 3px;
    background-color: #b4befe;
    flex-wrap: wrap;
    touch-action: none;
}

.color {
    width: 24px;
    height: 24px;
    border: none;
}

.painted {
    width: 24px;
    height: 24px;
    border: none;
    background-color: rgb(243, 139, 168);
}

#slide-container {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider {
    appearance: none;
    width: 100px;
    height: 16px;
    background: #9399b2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 3px;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #94e2d5;
    cursor: pointer;
    border-radius: 3px;
}
  
.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #94e2d5;
    cursor: pointer;
    border-radius: 3px;
}

#grid-size {
    width: 32px;
    margin-left: 10px;
    font-size: 10px;
    text-align: center;
}

footer {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}